body {
  background: #9905fc;
  background: linear-gradient(
    185deg,
    rgba(153, 5, 252, 1) 25%,
    rgba(122, 4, 122, 1) 52%,
    rgba(214, 129, 214, 1) 86%
  );

  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: black;
  padding-top: 20px;
}
main {
  background-color: white;
  margin-top: 300px;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 5px 5px 20px black;
}
input {
  margin-bottom: 50px;
  display: inline-block;
  border-radius: 5px;
  border: 3px solid black;
  width: 50%;
  font-size: x-large;
}
button {
  background-color: green;
  font-size: x-large;
  border-radius: 5px;
  color: white;
}
i {
  color: white;
  padding: 2px;
}
#spaziovuoto {
  font-size: x-large;
  font-weight: bold;
  padding-left: 0%;
  text-align: left;
}
#spaziovuoto div {
  display: inline-block;
}
#spaziovuoto ul {
  list-style: none;
  display: inline-block;
}
.linea {
  text-decoration: line-through;
}
#tastoRosso {
  background-color: red;
  font-size: x-large;
  border-radius: 5px;
  color: white;
  padding-top: 4px;
}
